@charset "UTF-8";
/*
Theme Name: Senior 2.1
Theme URI: http://showcase.aislinthemes.com/senior/
Description: Senior is easy-to-use WordPress theme that allows you to tell your story, making it perfect for elderly care, senior living, assisted living, nursing home or health care websites. Packed with everything you need to launch your site by this weekend! Events Galleries or Floor Plans are just a few clicks away - all within a single integrated interface! It is very easy to setup and use, with one click demo content import. Available only on ThemeForest! If you like this theme, please don’t forget to rate it.
Author: aislin
Author URI: http://themeforest.net/user/Aislin/portfolio
Version: 2.2.1
License: GNU General Public License
License URI: license.txt
*/
/*------------------------------------------------------------------

Table of Contents

* Reset
* Main Menu ( Superfish + Main Menu + Sticky Header + Responsive Menu )
* Scroll Up
* Layer Slider
* WP Widgets
* Visual Composer ( Global + Accordion + Tabs )
* Ultimate VC Addons
* The Events Calendar ( Main + Calendar + Single Event + Event List + Widgets )
* Testimonials Rotator
* Body (Main)
* Media Queries

-------------------------------------------------------------------*/
/* ----------------------------- Reset ----------------------------- */
button, input[type="submit"], input[type="button"], input[type="reset"], .cbp_widget_link { /*    background: $mainButtonBgColor;  Old browsers background: -webkit-linear-gradient(top, lighten($mainButtonBgColor, 10%) 0%, $mainButtonBgColor 100%);  Chrome 10+, Safari 5.1+ background:   linear-gradient(to bottom, lighten($mainButtonBgColor, 10%) 0%, $mainButtonBgColor 100%);  W3C */ background-color: #353535; border: none; /*border-bottom: 3px solid darken($mainButtonBgColor, 10%);*/ border-radius: 2px; color: #fff; display: inline-block; padding: 11px 24px 10px; text-decoration: none; box-shadow: none; }

button:hover, button:focus, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, .cbp_widget_link:hover { /*    background: lighten($mainButtonBgColor, 20%);  Old browsers background: -webkit-linear-gradient(top, lighten($mainButtonBgColor, 10%) 0%, lighten($mainButtonBgColor, 20%) 100%);  Chrome 10+, Safari 5.1+ background:   linear-gradient(to bottom, lighten($mainButtonBgColor, 10%) 0%, lighten($mainButtonBgColor, 20%) 100%);  W3C */ background-color: #686868; outline: none; }

button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active, .cbp_widget_link:active { /*    background: $mainButtonBgColor;  Old browsers background: -webkit-linear-gradient(top, $mainButtonBgColor 0%, lighten($mainButtonBgColor, 10%) 100%);  Chrome 10+, Safari 5.1+ background:   linear-gradient(to bottom, $mainButtonBgColor 0%, lighten($mainButtonBgColor, 10%) 100%);  W3C */ background-color: #353535; border: none; padding: 10px 24px 11px; }

.wh-borderless { border: 0 !important; }

.wh-rounded, .wh-rounded img { border-radius: 50%; }

.wh-rotate-aio-icon-bg-45 .aio-icon-top { margin-bottom: 50px; }
.wh-rotate-aio-icon-bg-45 .aio-icon-top .aio-icon { -ms-transform: rotate(-45deg) !important; /* IE 9 */ -webkit-transform: rotate(-45deg) !important; /* Chrome, Safari, Opera */ transform: rotate(-45deg) !important; }
.wh-rotate-aio-icon-bg-45 .aio-icon-top .aio-icon i { position: absolute; top: 0; left: 26%; -ms-transform: rotate(45deg) !important; /* IE 9 */ -webkit-transform: rotate(45deg) !important; /* Chrome, Safari, Opera */ transform: rotate(45deg) !important; }

.thumbnail { max-width: 100%; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { color: #686868; line-height: 1.5; margin: 0; font-family: arvoregular, serif; -ms-word-wrap: break-word; word-wrap: break-word; }

a { color: #282828; text-decoration: none; }

a:focus { outline: thin dotted; }

a:active, a:hover { color: #4f4f4f; }

a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { clear: both; line-height: 1.3; color: #1c1c1c; }

h1 { font-size: 48px; margin: 33px 0; }

h2 { font-size: 30px; margin: 25px 0; }

h3 { font-size: 22px; margin: 22px 0; }

h4 { font-size: 20px; margin: 25px 0; }

h5 { font-size: 18px; margin: 30px 0; }

h6 { font-size: 16px; margin: 36px 0; }

address { font-style: italic; margin: 0 0 24px; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p { margin: 0 0 10px; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 14px; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }

pre { background: #f5f5f5; color: #666; font-family: monospace; font-size: 14px; margin: 20px 0; overflow: auto; padding: 20px; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

blockquote, q { -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

blockquote { font-size: 18px; font-style: italic; font-weight: 300; margin: 24px 40px; }

blockquote blockquote { margin-right: 0; }

blockquote cite, blockquote small { font-size: 14px; font-weight: normal; text-transform: uppercase; }

blockquote em, blockquote i { font-style: normal; font-weight: 300; }

blockquote strong, blockquote b { font-weight: 400; }

small { font-size: smaller; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl { margin: 0 20px; }

dt { font-weight: bold; }

dd { margin: 0 0 20px; }

menu, ol, ul { margin: 16px 0; padding: 0 0 0 40px; }

ul { list-style-type: square; }

nav ul, nav ol { list-style: none; list-style-image: none; }

li > ul, li > ol { margin: 0; }

img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; max-width: 100%; vertical-align: baseline; }

button, input { line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; white-space: normal; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

input[type="search"] { -webkit-appearance: textfield; padding-right: 2px; /* Don't cut off the webkit search cancel button */ }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border: 1px solid #9b9b9b; border-collapse: collapse; border-spacing: 0; font-size: 14px; line-height: 2; margin: 0 0 20px; width: 100%; }

caption, th, td { font-weight: normal; text-align: left; }

caption { font-size: 16px; margin: 20px 0; }

th, td { padding: 15px; }

th { font-weight: bold; text-transform: uppercase; border: 1px solid #9b9b9b; }

td { border: 1px solid #9b9b9b; }

del { color: #333; }

ins { text-decoration: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #9b9b9b; margin: 1em 0; padding: 0; }

/* ----------------------------- Repeatable Patterns ----------------------------- */
.genericon:before, .menu-toggle:after, .featured-post:before, .date a:before, .entry-meta .author a:before, .format-audio .entry-content:before, .comments-link a:before, .tags-links a:first-child:before, .categories-links a:first-child:before, .edit-link a:before, .attachment .entry-title:before, .attachment-meta:before, .attachment-meta a:before, .comment-awaiting-moderation:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .bypostauthor > .comment-body .fn:before, .error404 .page-title:before { -webkit-font-smoothing: antialiased; display: inline-block; font: normal 16px/1 Genericons; vertical-align: text-bottom; }

/* Clearing floats */
.clear:after, .attachment .entry-header:after, .site-footer .widget-area:after, .entry-content:after, .page-content:after, .navigation:after, .nav-links:after, .gallery:after, .comment-form-author:after, .comment-form-email:after, .comment-form-url:after, .comment-body:after { clear: both; }

.clear:before, .clear:after, .attachment .entry-header:before, .attachment .entry-header:after, .site-footer .widget-area:before, .site-footer .widget-area:after, .entry-content:before, .entry-content:after, .page-content:before, .page-content:after, .navigation:before, .navigation:after, .nav-links:before, .nav-links:after, .gallery:before, .gallery:after, .comment-form-author:before, .comment-form-author:after, .comment-form-email:before, .comment-form-email:after, .comment-form-url:before, .comment-form-url:after, .comment-body:before, .comment-body:after { content: ""; display: table; }

/* Assistive text */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: normal; padding: 15px 23px 14px; position: absolute; left: 5px; top: 5px; text-decoration: none; width: auto; z-index: 100000; /* Above WP toolbar */ }

/* Form fields, general styles first. */
input, textarea { font-family: inherit; padding: 15px; margin-bottom: 10px; }

input, textarea { color: #141412; }

input:focus, textarea:focus { border: 2px solid #c3c0ab; outline: 0; }

/* Buttons */
.post-password-required input[type="submit"] { padding: 7px 24px 4px; vertical-align: bottom; }

.post-password-required input[type="submit"]:active { padding: 5px 24px 6px; }

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder { color: #7d7b6d; }

:-moz-placeholder { color: #7d7b6d; }

::-moz-placeholder { color: #7d7b6d; }

:-ms-input-placeholder { color: #7d7b6d; }

/* Responsive images  Fluid images for posts, comments, and widgets
*/
.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption { max-width: 100%; }

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img, .entry-summary img, .comment-content img[height], img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] { height: auto; max-width: 100%; }

img.size-full, img.size-large, img.wp-post-image { height: auto; max-width: 100%; }

/* Make sure videos and embeds fit their containers. */
embed, iframe, object, video { max-width: 100%; }

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered { max-width: 100% !important; }

/* Images */
.alignleft { float: left; }

.alignright { float: right; }

.aligncenter { display: block; margin-left: auto; margin-right: auto; }

img.alignleft { margin: 5px 20px 5px 0; }

.wp-caption.alignleft { margin: 5px 10px 5px 0; }

img.alignright { margin: 5px 0 5px 20px; }

.wp-caption.alignright { margin: 5px 0 5px 10px; }

img.aligncenter { margin: 5px auto; }

img.alignnone { margin: 5px 0; }

.wp-caption .wp-caption-text, .entry-caption, .gallery-caption { color: #220e10; font-size: 18px; font-style: italic; font-weight: 300; }

img.wp-smiley, .rsswidget img { border: 0; border-radius: 0; box-shadow: none; margin-bottom: 0; margin-top: 0; padding: 0; }

.wp-caption.alignleft + ul, .wp-caption.alignleft + ol { list-style-position: inside; }

.sticky { float: left; border: 1px solid #dddddd; padding: 20px; }

.comment-list, .comment-list ul { list-style-type: none; padding: 0; margin-top: 33px; }
.comment-list .comment, .comment-list ul .comment { margin-bottom: 20px; }
.comment-list .comment .avatar, .comment-list ul .comment .avatar { position: absolute; width: 66px; }
.comment-list .comment .avatar img, .comment-list ul .comment .avatar img { border-radius: 50%; }
.comment-list .comment .avatar .author-link, .comment-list ul .comment .avatar .author-link { margin-top: 70px; }
.comment-list .comment .body, .comment-list ul .comment .body { margin-left: 80px; margin-bottom: 80px; }
.comment-list .comment .children, .comment-list ul .comment .children { padding-left: 20%; list-style-type: none; }
.comment-list .comment .reply, .comment-list ul .comment .reply { float: right; }
.comment-list .comment hr, .comment-list ul .comment hr { margin-top: 33px; margin-left: -80px; }

#commentform { margin-bottom: 40px; }
#commentform label { display: block; }
#commentform .form-group { margin-bottom: 20px; overflow: hidden; }
#commentform p { margin: 0 0 5px 0; }
#commentform .comment-notes, #commentform .form-allowed-tags, #commentform .logged-in-as { padding: 0 0 0 10px; }
#commentform .form-submit { padding: 20px 10px; }
#commentform #author, #commentform #email, #commentform #url, #commentform #comment { float: left; width: 60%; padding: 10px; margin-top: 6px; }
#commentform #author input, #commentform #email input, #commentform #url input, #commentform #comment input { width: 100%; }

/* ----------------------------- Main Menu ----------------------------- */
/* ----------------------------- Superfish ----------------------------- */
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }

.sf-menu li { position: relative; }

.sf-menu ul { position: absolute; display: none; top: 100%; left: 0; z-index: 99; }

.sf-menu > li { float: left; }

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul { display: block; }

.sf-menu a { display: block; position: relative; }

.sf-menu ul ul { top: 0; left: 100%; }

/*** DEMO SKIN ***/
.sf-menu { float: left; }

.sf-menu ul { box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); min-width: 12em; /* allow long menu items to determine submenu width */ *width: 12em; /* no auto sub width for IE7, see white-space comment below */ }

.sf-menu a { text-decoration: none; zoom: 1; /* IE7 */ }

.sf-menu li { white-space: nowrap; /* no need for Supersubs plugin */ *white-space: normal; /* ...unless you support IE7 (let it wrap) */ -webkit-transition: background .2s; transition: background .2s; }

.sf-menu li:hover, .sf-menu li.sfHover { /* only transition out, not in */ -webkit-transition: none; transition: none; }

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul { padding-right: 2.5em; *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */ }

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after { content: ''; position: absolute; top: 50%; right: 1em; margin-top: -3px; height: 0; width: 0; /* order of following 3 rules important for fallbacks to work */ border: 5px solid transparent; border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */ border-top-color: rgba(255, 255, 255, 0.5); }

.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after { border-top-color: white; /* IE8 fallback colour */ }

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after { margin-top: -5px; margin-right: -3px; border-color: transparent; border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */ border-left-color: rgba(255, 255, 255, 0.5); }

.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after { border-left-color: white; }

.sf-menu.wh-menu-main a { padding: 3px 14px; font-size: 18px; }
.sf-menu.wh-menu-main ul li { background-color: #f0ebdf; }
.sf-menu.wh-menu-main ul li a { padding: 6px 14px; font-size: 15px; }
.sf-menu.wh-menu-main ul ul li { background-color: #f0ebdf; }
.sf-menu.wh-menu-main li:hover, .sf-menu.wh-menu-main li.sfHover { /*        background: $dirtyWhite url("public/img/background-pattern-small.png"); @include box-shadow(4px 4px 3px $mainMenuShadowColor); @include border-radius(2px, 2px);*/ }
.sf-menu.wh-menu-main .current-menu-item { /*        background: #f0ebdf url("public/img/background-pattern-small.png"); @include box-shadow(4px 4px 3px $mainMenuShadowColor); @include border-radius(2px, 2px);*/ }
.sf-menu.wh-menu-main .current-menu-item a { /*color: darken($mainMenuTextColor, 30%);*/ }
.sf-menu.wh-menu-main .wh-custom-link { background-color: transparent; }
.sf-menu.wh-menu-main .wh-custom-link:hover { background-color: transparent; }
.sf-menu.wh-menu-main .wh-custom-link a { width: 100%; height: 100%; }
.sf-menu.wh-menu-main .wh-custom-link a img { width: auto; height: 100%; }

/* ----------------------------- Sticky Header ----------------------------- */
@keyframes sticky-header-animation { from { margin-top: -50px; }
  to { margin-top: 0; } }
.wh-sticky-header .wh-main-menu-bar-wrapper { z-index: 99999; background: #E29CC2 url(http://sheffieldcareservices.yes3.co.uk/wp-content/uploads/2014/12/pattern-transp.png?id=1802) !important; left: 0; }
.wh-sticky-header .wh-logo img { width: auto; -moz-transition-property: height; -o-transition-property: height; -webkit-transition-property: height; transition-property: height; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease; -o-transition-timing-function: ease; -webkit-transition-timing-function: ease; transition-timing-function: ease; }
.wh-sticky-header .wh-sticky-header-enabled { animation-name: sticky-header-animation; animation-duration: .3s; -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */ animation-timing-function: ease-out; }
.wh-sticky-header .wh-padding { padding: 10px; }

/* ----------------------------- Responsive Menu ----------------------------- */
.respmenu-wrap { position: relative; width: 100%; margin: 0 auto; display: none; z-index: 100; }

.respmenu-header { overflow: hidden; margin-bottom: 30px; border: 1px solid; padding: 5px; }

.respmenu, .respmenu-submenu { list-style: none; padding: 0; border: 0; font-size: 100%; font: inherit; margin: 0; }

.respmenu { border-top: 1px dotted; border-left: 1px dotted; border-right: 1px dotted; }

.respmenu li { border: 0; margin: 0; cursor: pointer; padding-left: 25px; font-size: 100%; font: inherit; }

.respmenu li a { display: block; text-decoration: none; padding: 15px; border-bottom: 1px dotted; color: #000; -moz-transition: color .2s; -webkit-transition: color .2s; -o-transition: width color .2s; transition: color .2s, padding-left 0.2s; }

.respmenu li a:hover { color: blue; padding-left: 20px; }

.respmenu > li { padding: 0; }

.respmenu-open, .respmenu-submenu-toggle { float: right; cursor: pointer; }

.respmenu-submenu-toggle { padding: 7px; color: #000; font-size: 25px; }

.respmenu-open hr { width: 40px; border: 2px solid; margin: 6px 0; }

.respmenu-open:hover hr { border: 2px solid #3C3C3C; }

.respmenu_current > a { background-color: #EBEBEB; }

.respmenu { border-top: 0; border-left: 0; border-right: 0; margin-top: 20px; margin-bottom: 20px; }

.respmenu-submenu-toggle { color: #000; }

.respmenu-wrap { padding: 20px; }

.respmenu-header { border: 0; padding: 0; margin-bottom: 0; position: relative; }
.respmenu-header .respmenu-header-logo-link { width: 50%; }
.respmenu-header .respmenu-header-logo-link img { max-width: 100%; height: auto; }

.respmenu-open { border: 0; color: #686868; position: absolute; right: 0; top: 50%; margin-top: -14px; }
.respmenu-open:hover { color: #353535; }

.respmenu-open hr { width: 26px; border: 2px solid #686868; margin: 5px 0; }

.respmenu-open:hover { border: 0; }

.respmenu-open:hover hr { border: 2px #353535 #fff; }

.respmenu li a { font-size: 18px; color: #686868; }
.respmenu li a:hover { color: #353535; }

li.respmenu_current > a { background: #f0ebdf; -moz-box-shadow: 4px 4px 3px #389AA0; -webkit-box-shadow: 4px 4px 3px #389AA0; box-shadow: 4px 4px 3px #389AA0; border: 0; color: #686868; }
li.respmenu_current > a:hover { color: #353535; }

li.respmenu_current .cbp-respmenu-more { color: #686868; }
li.respmenu_current:hover .cbp-respmenu-more { color: #353535; }

.cbp-respmenu-more { font-size: 18px; margin-right: 13px; color: #686868; margin-top: 4px; }

/* ----------------------------- Scroll Up ----------------------------- */
/* Tab style */
#scrollUp { bottom: 0px; right: 30px; width: 70px; height: 70px; margin-bottom: -10px; padding: 10px 5px; font-family: sans-serif; font-size: 14px; line-height: 20px; text-align: center; text-decoration: none; text-shadow: 0 1px 0 #fff; color: #828282; background-color: #E6E6E6; background-image: -moz-linear-gradient(top, #EBEBEB, #DEDEDE); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB), to(#DEDEDE)); background-image: -webkit-linear-gradient(top, #EBEBEB, #DEDEDE); background-image: -o-linear-gradient(top, #EBEBEB, #DEDEDE); background-image: linear-gradient(to bottom, #ebebeb, #dedede); background-repeat: repeat-x; -webkit-transition: margin-bottom 150ms linear; -moz-transition: margin-bottom 150ms linear; transition: margin-bottom 150ms linear; }

#scrollUp:hover { margin-bottom: 0px; }

/* ----------------------------- Layer Slider ----------------------------- */
.wh-slider-title-big { font-family: Lifestyle Rounded M54; color: #f7f1e5; font-size: 74px; font-weight: normal; text-shadow: 0 2px #3e989d; }

h2.wh-slider-title-big { font-size: 60px; }

h3.wh-slider-title-big { font-size: 45px; }

h4.wh-slider-title-big { font-size: 30px; }

h5.wh-slider-title-big { font-size: 20px; }

h6.wh-slider-title-big { font-size: 15px; }

.wh-slider-title { text-shadow: 0 2px #70c8c8; color: #2d8085; }

.wh-slider-title-italic { font-style: italic; text-shadow: 0 2px #70c8c8; color: #2d8085; }

.wh-slider-border-title { text-shadow: 0 2px #70c8c8; color: #2d8085; }
.wh-slider-border-title:before { display: block; content: ""; width: 100%; height: 5px; background: url(public/img/slider-dotted-line.png) repeat center top; margin-bottom: 10px; }
.wh-slider-border-title:after { display: block; content: ""; width: 100%; height: 5px; background: url(public/img/slider-dotted-line-bottom.png) repeat center top; margin-top: 10px; }

.ls-bottom-nav-wrapper { z-index: 300; top: -15px; }

/* ----------------------------- WP Widgets ----------------------------- */
.widget .widget_title { font-weight: normal; }
.widget ul { list-style-type: none; padding: 0; margin-top: 0; }
.widget ul li {padding: 3px 0; overflow: hidden; }
.widget ul li:first-child { border-top: none; padding-top: 0; }
.widget ul li ul { padding-left: 20px; }
.widget ul li ul li:first-child { padding: 13px 0; }

.wh-sidebar .widget { margin-bottom: 34px; clear: both; }

.widget_search form { padding: 5px 0; }

#today { background-color: #35b2b2; color: #f7f6f4; }

#wp-calendar th, #wp-calendar td { padding: 6px 10px; text-align: center; }
#wp-calendar tfoot td { text-align: left; }
#wp-calendar caption { margin-top: 0; }

.widget_wysija input[type="text"] { width: 100%; }

.widget-latest-posts .widget-post-list-item { margin-bottom: 20px; }
.widget-latest-posts .widget-post-list-item .thumbnail { margin-bottom: 8px; }
.widget-latest-posts .widget-post-list-item .meta-data { text-transform: uppercase; font-size: 11px; margin-bottom: 9px; }
.widget-latest-posts .widget-post-list-item .title { font-size: 16px; }

.contact-form #recaptcha_response_field { height: 16px; }

/* ----------------------------- Visual Composer ----------------------------- */
.vc_row { margin-left: 0; margin-right: 0; }

.cbp-container .vc_row { margin-left: -15px; margin-right: -15px; }

.vc_grid-container .vc_row { margin-left: 0 !important; margin-right: 0 !important; }
.vc_grid-container .vc_row .vc_gitem-post-data-source-post_date { text-transform: uppercase; }

.wpb_single_image .vc_single_image-wrapper { max-width: 100%; }

.wh-footer-icons .vc_icon_element { float: left; font-size: 11px; }

.wh-teacher-icons .vc_icon_element { float: left; font-size: 8px; }
.wh-teacher-icons .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-xs.vc_icon_element-have-style-inner { width: 3em !important; height: 3em !important; }

.wh-separator-slanted.white:before { background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 99 L99 0 L100 1 L1 100' fill='#fff'/></svg>"); }
.wh-separator-slanted:before { content: " "; position: absolute; left: -24px; top: -14px; width: 43px; height: 73px; background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 99 L99 0 L100 1 L1 100' fill='#d2d1d1'/></svg>"); background-repeat: no-repeat; background-position: center center; background-size: 100% 100%, auto; }

.wpb_accordion { border: 1px solid #dfdfdf; border-bottom: 0px; }

.wpb_accordion .wpb_accordion_wrapper .ui-icon { margin-right: 17px; text-indent: 0; }

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header { background-color: transparent; padding: 10px; border-bottom: 1px solid #dfdfdf; margin: 0; }

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a { font-family: Playfair Display; font-weight: bold; font-size: 20px; margin: 0; }

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content { background-color: transparent; padding: 24px; padding-top: 10px; border-bottom: 1px solid #dfdfdf; }

.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon { top: 50%; margin-top: -8px; background-image: none; }

.wpb_content_element .wpb_tabs_nav li:first-child { border-left: none; }

.wpb_content_element .wpb_tabs_nav li:first-child a { padding-left: 0; }

.wpb_content_element .wpb_tabs_nav li { border-left: 1px solid #dfdfdf; background-color: transparent; }

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab { padding: 20px 20px 20px 0; }

.wpb_content_element .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element .wpb_tabs_nav li:hover { background-color: transparent; }

.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab { background-color: transparent; border: 0; }

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a { padding: 10px 20px; font-family: Playfair Display; font-weight: bold; font-size: 20px; }

.ultimate-map-wrapper.ult-adjust-bottom-margin { margin-bottom: 0; }

a.ubtn-link { display: inline-block; margin: 15px 0; color: inherit; text-decoration: none; max-width: 100%; }

.vc_column-inner > .wpb_wrapper > .ubtn-ctn-left:last-child a { margin-bottom: 0; }

.ult-carousel-wrapper { margin-bottom: 50px; }

.ult_pricing_table .ult_price_features { padding: 15px; margin: 0; }

.aio-icon.none { display: inline-block; font-size: 32px; height: 1em; width: 1em; text-align: center; line-height: 1em; }

.uavc-icons, .wpb_column .wpb_wrapper .uavc-icons { margin-bottom: 10px; }

/* ----------------------------- The Events Calendar ----------------------------- */
#tribe-events { margin-top: 40px; }

#tribe-events-content a { line-height: 20px; }

#tribe-events-content.tribe-events-list { padding: 2px 0; }

#tribe-events-content table.tribe-events-calendar { margin: 12px 0 39px; }

.tribe-events-event-meta.vcard { font-family: Playfair Display; font-weight: normal; }

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next { text-transform: uppercase; }

input[name*=tribe-bar-]::-webkit-input-placeholder { font-style: normal; color: #999; }

input[name*=tribe-bar-]:-moz-placeholder { font-style: normal; color: #999; }

.placeholder { font-style: normal; color: #999; }

#tribe-bar-form label { font-weight: normal; }

.tribe-events-list .tribe-events-event-cost span { font-weight: normal; }

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a { background-color: #717171; }

.events-archive.events-gridview #tribe-events-content table .type-tribe_events { padding: 16px 8px; }

.tribe-events-list .time-details { margin: 10px 0 4px; }

.tribe-events-day .tribe-events-day-time-slot .type-tribe_events { margin-left: 0; }

.single-tribe_events .tribe-events-event-meta { background-color: transparent; border: 0; }
.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group, .single-tribe_events .tribe-events-event-meta .column, .single-tribe_events .wh-events-single-meta .tribe-events-meta-group, .single-tribe_events .wh-events-single-meta .column { padding: 0 4% 0 0; width: 33%; float: left; }
.single-tribe_events .tribe-events-event-meta dl, .single-tribe_events .wh-events-single-meta dl { margin: 0; }
.single-tribe_events .tribe-events-event-meta .tribe-events-venue-map, .single-tribe_events .wh-events-single-meta .tribe-events-venue-map { clear: both; float: left; width: 100%; }
.single-tribe_events .tribe-events-event-image { margin-bottom: 30px; }

h3.tribe-events-single-section-title:after { content: ""; width: 50px; height: 1px; background-color: #c1c1c1; display: block; margin: 18px 0; }

.tribe-events-read-more { text-transform: uppercase; }

.tribe-events-list-widget ol, .tribe-events-list-widget ul { padding: 0; }
.tribe-events-list-widget .entry-title { margin: 0 0 10px 0; }
.tribe-events-list-widget .duration { font-weight: normal; }

/* ----------------------------- Testimonials Rotator ----------------------------- */
.testimonial_rotator .testimonial_rotator_slide_title { margin: 0; line-height: 33px; }

/* ----------------------------- Main ----------------------------- */
.pull-left { float: left; }

.pull-right { float: right; }

.wh-main-wrap { margin: 0 auto; }

.wh-ul-center { display: table; /* Allow the centering to work */ margin: 0 auto; }

.wh-logo img { max-width: 100%; height: auto; }

a:focus { outline: 0; }

input:focus, textarea:focus { border: none; }

.form-button input[type=submit] { width: 100%; }

.entry-meta { margin: 0 0 10px 0; text-transform: uppercase; }
.entry-meta span { margin: 0 3px; }
.entry-meta span:first-child { margin: 0 3px 0 0; }

.entry-content { margin: 20px 0; }

.single .entry-meta { text-transform: uppercase; margin-bottom: 23px; font-size: 11px; }
.single .entry-content { margin-top: 42px; }

.tagcloud { float: left; margin-bottom: 27px; }
.tagcloud a { float: left; margin: 0 3px 3px 0; }

.gallery { margin-bottom: 20px; }

.search-form button { padding: 10px 16px; }

.wh-strecher { margin-left: -20px; margin-right: -20px; }

.our-process img, .wh-widget-post-image img, .wh-portfolio-image { height: auto; max-width: 100%; }

.wh-menu-footer a { color: #f7f6f4; padding: 3px 14px; font-size: 13px; }

.cbp_widget_link:hover { color: #fff; }
.cbp_widget_link:active { color: #fff; }

.wh-icon-title .cbp_widget_text { position: absolute; top: 0; left: 140px; }
.wh-icon-title .cbp_widget_text h2 { margin: 30px 0 10px; }
.wh-icon-title .cbp_widget_text p { font-size: 16px; }
.wh-icon-title .cbp_widget_icon { background-color: #e47823; color: #f4f4f4; width: 100px; height: 100px; border-radius: 100px; display: table-cell; vertical-align: middle; text-align: center; font-size: 14px; }

.bx-wrapper .quote-up { position: absolute; width: 38px; height: 33px; top: 60px; left: 11px; background: url("public/img/quote-up.png") no-repeat; }
.bx-wrapper .quote-down { position: absolute; width: 38px; height: 33px; bottom: 123px; right: 11px; background: url("public/img/quote-down.png") no-repeat; }
.bx-wrapper .bouble-tail { position: absolute; width: 38px; height: 33px; right: 50px; background: url("public/img/bouble-tail.png") no-repeat; }

.wh-content { position: relative; }

.wh-footer-bottom { font-size: 13px; }
.wh-footer-bottom .cbp_widget_text p { margin: 0; }
.wh-footer-bottom .sf-menu { margin: 0 -13px 0 -13px; }
.wh-footer-bottom .sf-menu a { padding: 0 13px; }

.pagination { margin: 20px 0; clear: both; }
.pagination span, .pagination a { padding: 7px 16px; font-size: 13px; }
.pagination .current { background: #353535; color: #F7F6F4; border-radius: 2px; }

#scrollUp { opacity: 0.5; }
#scrollUp:hover { opacity: 1; }

.search-form { overflow: hidden; }

.wh-close-paragraphs p { margin: 0 0 5px 0; }

.wh-plugins-not-loaded { background-color: white; width: 500px; margin: 0 auto; padding: 50px; box-shadow: 1px 1px 7px grey; }

.site-title, .site-title a { font-size: 30px; text-shadow: none; margin: 20px 0 10px; }

.site-description { font-size: 15px; text-shadow: none; margin: 5px 0; }

#menu-searchform-wrapper { position: absolute; top: 31px; right: 0; }

.wh-menu-top a { padding: 0 13px; }

.wh-has-embellishment { position: relative; }

.wh-embellishment-content-top, .wh-embellishment-header-top, .wh-embellishment-page-title-top { position: absolute; width: 100%; top: 0; left: 0; }

.wh-embellishment-content-bottom, .wh-embellishment-header-bottom, .wh-embellishment-page-title-bottom { position: absolute; width: 100%; bottom: 0; left: 0; }

.wh-post-item { margin-bottom: 40px; }
.wh-post-item.odd { padding-right: 20px; clear: both; }
.wh-post-item.even { padding-left: 20px; }
.wh-post-item .thumbnail { float: left; padding: 0 20px 0 0; margin-bottom: 10px; }
.wh-post-item .item { float: left; }
.wh-post-item .item .entry-title { margin-top: -5px; margin-bottom: 2px; font-size: 24px; line-height: 33px; }
.wh-post-item .item .entry-title a { font-size: 24px; line-height: 33px; }
.wh-post-item .item .entry-summary { margin-bottom: 18px; }
.wh-post-item .item .wh-button { float: left; }

.sc-contact-form-bottom-centered { max-width: 400px; text-align: center; margin: 0 auto; }
.sc-contact-form-bottom-centered input, .sc-contact-form-bottom-centered textarea { width: 100%; margin-top: 10px; }

.wh-sidebar .search-field { width: 155px; }

::-webkit-input-placeholder { padding-left: 10px; }

:-moz-placeholder { /* Firefox 18- */ padding-left: 10px; }

::-moz-placeholder { /* Firefox 19+ */ padding-left: 10px; }

:-ms-input-placeholder { padding-left: 10px; }

.wh-top-bar-layout-block { padding-left: 15px; padding-right: 15px; }

.wh-footer-layout-block { padding-left: 15px; padding-right: 15px; }

body.page-template-page-home .wh-content { padding-top: 0; }
body.page-template-page-home .wh-content > .cbp-container { padding-top: 0; }

body.page-template-page-home-boxed .wh-content { padding-top: 0; }
body.page-template-page-home-boxed .wh-content > .cbp-container { padding-top: 0; }

body.page-template-template-home-transparent-header .wh-header { position: absolute; z-index: 9999; background-color: transparent; }
body.page-template-template-home-transparent-header .wh-content { padding-top: 0; }
body.page-template-template-home-transparent-header .wh-content > .cbp-container { padding-top: 0; }

body.page-template-template-home-no-footer .wh-content { padding-top: 0; }
body.page-template-template-home-no-footer .wh-content > .cbp-container { padding-top: 0; }

.page-template-template-sidebar-left-childpages .wh-sidebar.wh-padding { padding-left: 15px; }
.page-template-template-sidebar-left-childpages .wh-content-inner { padding-left: 35px; }

.wh-sidebar h3, .wh-sidebar h3 a { font-size: 20px; font-weight: bold; }
.wh-sidebar a { color: inherit; }
.wh-sidebar .children-links ul { list-style-type: none; padding: 0; margin-top: 0; }
.wh-sidebar .children-links ul li a { position: relative; display: block; background-color: #F5F5F5; padding: 16px 38px 16px 26px; margin-bottom: 3px; color: #152130; font-size: 16px; font-weight: 400; }
.wh-sidebar .children-links ul li a:hover { background-color: #333; color: #fff; }
.wh-sidebar .children-links ul li a:hover:after { content: "\e9c4"; position: absolute; right: 22px; font-family: themeicons; font-size: 10px; }
.wh-sidebar .children-links ul li.current_page_item a { background-color: #333; color: #fff; }
.wh-sidebar .children-links ul li.current_page_item a:after { content: "\e9c4"; position: absolute; right: 22px; font-family: themeicons; font-size: 10px; }

.wpcf7-form input[type=submit] { padding-top: 16px; padding-right: 24px; padding-bottom: 16px; padding-left: 24px; font-size: 14px; }

span.wpcf7-not-valid-tip { line-height: 18px; }

div.wpcf7-response-output { margin-top: 5px; margin-bottom: 40px; }

div.wpcf7-validation-errors { border: 2px solid #ff5f4f; }

.cbp-container .wpcf7-form .vc_row { margin-left: 0; margin-right: 0; }

.lin-contact-form-bottom-centered { max-width: 400px; text-align: center; margin: 0 auto; }
.lin-contact-form-bottom-centered .wpcf7-form-control-wrap { display: inline; }
.lin-contact-form-bottom-centered input, .lin-contact-form-bottom-centered textarea { width: 100%; margin-top: 10px; }

/* ----------------------------- Responsive ----------------------------- */
@media (max-width: 767px) { /**/
  /* ----------------------------- Visual Composer ----------------------------- */
  .vc_column-inner { margin-bottom: 30px; }
  .vc_pageable-slide-wrapper { margin: 0 !important; }
  /* ----------------------------- Layer Slider ----------------------------- */
  .ls-bottom-nav-wrapper { top: 0; }
  .wpb_layerslider_element { margin-bottom: 0; }
  /* ----------------------------- Responsive Menu ----------------------------- */
  .respmenu-wrap { display: block; }
  /* ----------------------------- Ultimate VC Addons ----------------------------- */
  .ult_design_2 .ult_pricing_table .ult_price_link .ult_price_action_button { right: 0; }
  /* ----------------------------- The Events Calendar ----------------------------- */
  .single-tribe_events .tribe-events-event-meta .tribe-events-meta-group, .single-tribe_events .tribe-events-event-meta .column, .single-tribe_events .wh-events-single-meta .tribe-events-meta-group, .single-tribe_events .wh-events-single-meta .column { width: 100%; }
  /* ----------------------------- Templates ----------------------------- */
  .page-template-template-sidebar-left-childpages .wh-sidebar .wh-padding { padding-right: 15px; }
  .page-template-template-sidebar-left-childpages .wh-sidebar .testimonial_rotator_wrap { display: none; }
  .page-template-template-sidebar-left-childpages .wh-content-inner { padding-left: 15px; }
  /* ----------------------------- Helpers ----------------------------- */
  .hide-on-small-tablet { display: none !important; } }
@media (max-width: 480px) { /**/
  /* ----------------------------- Helpers ----------------------------- */
  .hide-on-mobile { display: none !important; } }
@media (max-width: 900px) { .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a { font-size: 16px; } }


#our-services {
      background: #7e78b6 url(http://sheffieldcareservices.yes3.co.uk/wp-content/uploads/2014/12/pattern-transp.png?id=1802) !important;
}

.wh-top-bar-additional {
  background: #7e78b6 url(http://sheffieldcareservices.yes3.co.uk/wp-content/uploads/2014/12/pattern-transp.png?id=1802) !important;
  display:none!important;
  
}

[class^="icon-"], [class*=" icon-"] {
    color: #000;
}

input.wpcf7-form-control.wpcf7-submit {
    background: #7e78b6 url(http://sheffieldcareservices.yes3.co.uk/wp-content/uploads/2014/12/pattern-transp.png?id=1802) !important;
}

.subitle {
  color:#000;
}

.uvc-heading-spacer.line_with_icon {
    display: none;
}

h2 {
      line-height: 70px !important;
}

#menu-one-page-menu-2 {
  float:left!important;
}

.wh-footer {
      background: #6c4b94 url(http://sheffieldcareservices.yes3.co.uk/wp-content/uploads/2014/12/pattern-transp.png?id=1802) !important;
}

#about-us .txt {
  color:#000!important;
  font-family: Montserrat!important;
}

#about-us h2 {
    font-family: Montserrat!important;
}

.vc_custom_1469179186523 {
    padding-bottom: 180px !important;
}

.upb_row_bg {
    background: #6c4b94 url(http://sheffieldcareservices.yes3.co.uk/wp-content/uploads/2014/12/pattern-transp.png?id=1802) !important;
}

.wh-header, .respmenu-wrap {
    box-shadow: 0 1px 2px 0px #908484;
    background: #E29CC2 url(http://sheffieldcareservices.yes3.co.uk/wp-content/uploads/2014/12/pattern-transp.png?id=1802) !important;
}

.wh-footer-bottom .uk-panel {
  margin-top: -15px;
}

div#flyerimg img {
    max-height: 490px !important;
    width: auto;
}

.cbp-container.wh-padding.ls-overflow-visible {
    height: 0;
}

.wh-footer h3 {
    color: #fff !important;
}

.wh-footer, .wh-footer p, .wh-footer span {
    color: #fff !important;
}

li.telnum {
    text-align: right !important;
    float: right !important;
    
}

ul#menu-one-page-menu-2 {
    width: 100%;
}

.wh-footer li a {
    color:#fff;
}

.wh-footer li a:hover {
    color:#fff;
}

.vc-hoverbox-wrapper.vc-hoverbox-shape--rounded .vc-hoverbox-back, .vc-hoverbox-wrapper.vc-hoverbox-shape--rounded .vc-hoverbox-front {
    border-radius: 50px;
    height: 300px;
}

.hoverboxclass h2 {
    line-height: 25px !important;
    color: #fff;
}

.hoverboxclass .vc-hoverbox-back-inner h2 {
    color: #444;
}

.about-text .txt {
    color:#000;
}

.personname {
    float:right;
    font-weight:bold;
}

#our-services {
    display:none;
}

@media screen and (max-width: 767px) {
    .home .cbp-row.wh-footer {
    display: none;
}
}

#yeslmobilefooterhome {
    background: #444;
    padding-top: 25px;
    bottom: -35px;
}

.mobilefooterhome,
#yeslmobilefooterhome {
    display: none;
}

@media screen and (max-width: 767px) {
    .mobilefooterhome,
    #yeslmobilefooterhome {
        display: inline-block;
    }
}