/* =Widget Areas
-------------------------------------------------------------- */

/* Offcanvas Sidebar */

.uk-nav ul a {

}

/* Sidebar */

.uk-sidebar-bg {
background-color: #fff;
}

.uk-sidebar-border-right {
}

.uk-sidebar-border-left {
}

@media (min-width: 768px) {

.uk-sidebar-border-right {
border-right: 1px solid #fff;
}

.uk-sidebar-border-left {
border-left: 1px solid #fff;
}

}

.widget-container ul, .widget-container ul ul {



}

.widget-container {



}

.widget-container ul {



}

.widget-container ul li {


}

.widget-container ul li span { padding-left:10px;}

.widget-title {

}

.widget-title span {

}

.widget-container a:link,
.widget-container a:visited {

}

.widget-container li {

}

.widget-container li:hover,
.widget-container li:focus,
.widget-container li:active {

}

.widget-container li a {



}

.widget-container li a:hover,
.widget-container li a:focus {

}

.widget-container .entry-meta {

}



/* Footer */

.uk-panel-box li {
	list-style-type: none;
}

.uk-panel-box li:hover,
.uk-panel-box li:focus {

}

.uk-subnav > * > :hover, .uk-subnav > * > :focus {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 750px) {
    .uk-padding-footer {
        padding-right:25px;
    }

}

.uk-icon-button-small {
    height: 30px;
    width: 30px;
    line-height: 28px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 100%;
    background: #f7f7f7;
    color: #666;
    font-size: 18px;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #ccc;
    border-bottom-color: #bbb;
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: linear-gradient(to bottom,#fff,#eee);
    text-shadow: 0 1px 0 #fff;
    margin-left: 2px;
    margin-right: 2px;
}
