.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner { padding-top: 0; }

.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button { margin-bottom: 35px; }

.vc_row.vc_inner { margin-bottom: 0; }

.wpb_layerslider_element { margin-bottom: 0; }

.sc-map-text-box .wpb_text_column { margin-bottom: 0; }

.vc_column-inner > .wpb_wrapper > *:last-child { margin-bottom: 0; }

.vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels { padding-top: 10px; }

.vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels, .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active > a { border-color: transparent !important; background-color: transparent !important; }

.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active > a { border-left: 1px solid #dfdfdf !important; }

.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab > a { border: none !important; border-left: 1px solid #dfdfdf !important; border-radius: 0 !important; padding: 10px 20px !important; font-family: Playfair Display; font-weight: bold; font-size: 20px; }
.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab > a:hover { background-color: transparent; }

.vc_tta-tabs.vc_tta-color-white .vc_tta-tab:first-child a { padding-left: 0 !important; border-left: 0 !important; }
.vc_tta-tabs.vc_tta-color-white .vc_tta-tab:first-child a:hover { background-color: transparent; }

.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body { padding-left: 0; }
