/** Woo Commerce **/

.woocommerce .quantity .qty {
    height: 1.9em;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
      background-color: #0090C9;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #0070C9;
}

@media screen and (max-width:430px) {
 .woocommerce table.cart .product-subtotal,.woocommerce-page table.cart .product-subtotal {display:none;}
 .woocommerce td.product-quantity { min-width: 50px; }
}

input:focus {outline:0;}

.variation:before {
    margin-top:10px !important;
}

.variation {
    padding-top:4px;
}

.reset_variations {
display: none;
}

.added_to_cart {
display:none;
}

ins {
    background:none;
}

/* Woocommerce sidebar css */

.widget-area .widget-title { padding-left: 0px; border-bottom:1px solid rgba(48,48,48,0.2); margin-bottom: 20px;}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {background-color: #0090C9;}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {background-color: #0070C9;}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {background-color: #0090C9;}

.woocommerce-product-search .screen-reader-text {display:none;}

.woocommerce-product-search input[type=submit] {
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    background: #f5f5f5;
    vertical-align: middle;
    line-height: 21px;
    min-height: 21px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,.1)!important;
    border-radius: 2px;
}

.widget-area .uk-search {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width:100%;
}

.woocommerce-product-search .search-field
{
  width:100%;
  height:30px;
}

.woocommerce-product-search {
  text-align:center;
}

.widget_shopping_cart .buttons {
  text-align:center;
}

.widget-area li {
  list-style:none;
}

/* Woocommerce cart CSS */

.uk-button-cart {
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    vertical-align: middle;
    min-height: 35px;

    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    /**border: 1px solid rgba(0,0,0,.1)!important;**/
    border:none !important;
    border-radius: 2px;
}

.nodisplay .uk-button-cart {
    display:block;
    background:rgba(255,255,255,0);
}

/* .nodisplay .uk-button-cart:hover,
.nodisplay .uk-button-cart:active{
   color:#888 !important;
   background:rgba(255,255,255,0);
}*/

.mobile .uk-button-cart {
   color:#fff;
   background:rgba(68,68,68,0);
   line-height:35px;
}

.mobile #basket .uk-dropdown {
    background:#fff;
}

@media screen and (max-width:322px) {
.mobile .uk-button-cart {
    font-size:12px;
}
}



.mobile .uk-button-cart:hover,
.mobile .uk-button-cart:active,
.mobile .uk-button-cart:focus{
  color:#aaa !important;
  background:rgba(68,68,68,0);
}

.uk-navbar-nav > li > a {
    text-shadow:none;
}


.nodisplay #basket .uk-dropdown-navbar { background:#fff;color:#333333; width:350px;  }
.nodisplay #basket .uk-dropdown { border: 1px solid #e5e5e5; z-index:9998 !important; }

.mobile #basket .uk-dropdown-navbar { background:#fff;color:#333333; width:298px; }
.mobile #basket .uk-dropdown { border: 1px solid #e5e5e5; z-index:9998 !important; }


/* Featured products */

#featured .displaynav {
    display:none;
}

#featured .featuredprice {
    line-height:30px;
    display:inline;
    font-size:16px;
    color:#77a464;
}

#featured .fslidertitle {
    margin-bottom:0px;
}

#featured .add_to_cart_button {
    width:100%;
}

#featured .uk-slidenav {
    line-height:55px;
}

@media screen and (max-width:1000px) {


    #featured .uk-width-small-1-5 {

    width: 25%;

    }
}

@media screen and (max-width:850px) {


    #featured .uk-width-small-1-5 {

    width: 33.333%;

    }

    #featured .uk-width-small-1-4 {

    width: 33.333%;

    }
}

@media screen and (max-width:650px) {

    #featured .uk-width-small-1-5 {

    width:50%;

    }

    #featured .uk-width-small-1-4 {

    width:50%;

    }

    #featured .uk-width-small-1-3 {

    width:50%;

    }
}

@media screen and (max-width:500px) {

#featured .uk-width-small-1-5 {

    width:100%;

}

#featured .uk-width-small-1-4 {

    width:100%;

}

#featured .uk-width-small-1-3 {

    width:100%;

}

#featured .uk-width-small-1-2 {

    width:100%;

}

#featured .uk-width-small-1-1 {

    width:100%;

}

#featured .displaynav {
    display:block;
}

#featured .centeralignmob
{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

}

/* woocommerce demo text */

.woocommerce-demo-store .demo_store {
    background:rgba(0,0,0,0.5);
    max-width:100%;
    padding:5px;
    left:0;
    right:0;
    margin: 0 auto;
    font-weight:500;
    /* color:#000;
    background:#fff;
    border-left:5px solid #bf0000; */
    background:#bf0000;
    background:rgba(191, 0, 0, 1);

}

.woocommerce-demo-store #socialmedia {
    background:#bf0000;
    padding-top:30px;
}

@media (max-width: 782px) {
	.admin-bar p.demo_store {
	    top:46px !important;
}
}

.woocommerce-demo-store .sticky-header-withsocial {
  top: 74px !important;
}
@media screen and (min-width: 783px) {
  .woocommerce-demo-store .sticky-header-withsocial {
    top: 70px !important;
  }
}

.woocommerce-demo-store .sticky-header {
  top: 30px !important;
}
@media screen and (min-width: 783px) {
  .woocommerce-demo-store .sticky-header {
    top: 30px !important;
  }
}

.admin-bar.woocommerce-demo-store .sticky-header-withsocial {
  top: 116px !important;
}
@media screen and (min-width: 783px) {
  .admin-bar.woocommerce-demo-store .sticky-header-withsocial {
    top: 102px !important;
  }
}

.admin-bar.woocommerce-demo-store .sticky-header {
  top: 76px !important;
}
@media screen and (min-width: 783px) {
  .admin-bar.woocommerce-demo-store .sticky-header {
    top: 62px !important;
  }
}
.featuredbuybutton{
width:100%; margin:0 auto; padding-top:10px;
}

/** Shop Alert **/

.woo-warning {
    position: fixed;
    top:0;
    left:0;
    z-index: 1040;
    box-sizing: border-box;
    width:100%;

}

.admin-bar .woo-warning-loc {
    margin-top:30px;
}

@media screen and (max-width:782px) {
.admin-bar .woo-warning-loc {
    margin-top:46px;
}
}
