/* CSS For Fixed Footer */



/********Dynamic Page********/

.page-template-fixedfooterdynamicpage #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-template-fixedfooterdynamicpage #wrapper #main div,
.page-template-fixedfooterdynamicpage #wrapper #main div uk-grid { height:inherit; }

.page-template-fixedfooterdynamicpage .footer-padding {
 padding-bottom:50px; /**Enter footer height**/
}
@media screen and (max-width:548px) {
  .page-template-fixedfooterdynamicpage .footer-padding {
 padding-bottom:75px; /**Enter footer height when under 548px wide**/
}
}

/********Fixed Page********/

.page-template-browserheight #footer {visibility: hidden;}

.page-template-browserheight .stickyfooter { height:100% !important; overflow:hidden !important; }
.page-template-browserheight .stickyfooter #main { height:100% !important; }

.page-template-browserheight #wrapper #main div,
.page-template-browserheight #wrapper #main div uk-grid { height:inherit; }


.uk-animation-fade-fast {
  -webkit-animation-name: uk-fade;
  animation-name: uk-fade;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear !important;
  animation-timing-function: linear !important;
}


/* Sticky Navigation & Social Bar */

.sticky-header-withsocial {
  top: 40px !important;
}

.sticky-header-withsocialmob {
  top: 40px !important;
}

.admin-bar .sticky-header-withsocial {
  top: 86px !important;
}

.admin-bar .sticky-header-withsocialmob {
  top: 86px !important;
}

@media screen and (min-width: 783px) {

  .sticky-header-withsocialmob {
  top: 0px !important;
    }

  .admin-bar .sticky-header-withsocial {
    top: 72px !important;
  }

   .admin-bar .sticky-header-withsocialmob {
    top: 32px !important;
  }
}



.admin-bar .sticky-header {
  top: 46px !important;
}
@media screen and (min-width: 783px) {
  .admin-bar .sticky-header {
    top: 32px !important;
  }
}

.uk-sticky-logo { display:none }

.uk-sticky-nav .uk-sticky-logo { display:block}


/* WP Admin Bar Fix */

@media (max-width: 600px) {
	html #wpadminbar { position:fixed; }
}

/* Search css for sidebars */
.widget-container .uk-search {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width:100%;
    box-sizing: border-box;
}

/* Arrow Nav CSS for sliders */
.uk-slidenav {
background:#fff;
border:1px solid rgba(0,0,0,0.1);}

.uk-slidenav.uk-slidenav-contrast {
  background:transparent;
}


/* Internet Explorer Dropdown Fix */

.ie .uk-navbar-nav > li > a {
	display:inline;
	margin-left:10px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.uk-navbar-nav > li > a {
	display:inline;
	margin-left:10px;
}
}

/* grid dropdown in nav */

.grid-padding {
      padding: 0 25px;
}

.uk-dropdown .uk-grid > * {
    padding-left: 0px;
}

.uk-offcanvas ul.uk-nav-sub {
    padding: 5px 0 5px 15px !important;
}

.breadcrumbs {
     background-color: #ececec;
   padding:15px 25px;
}

@media screen and (min-width: 1220px) {
.breadcrumbs {
     background-color: #ececec;
   padding:15px 35px;
}
}

/* Scroll to Top */

#TopScroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    background-color:red;
}

#TopScroll:hover {
    
}
