/* =Widget Areas
-------------------------------------------------------------- */

/* Offcanvas Sidebar */

.uk-nav ul a {
    padding: 2px 15px !important;
}

/* Sidebar */

.uk-sidebar-bg {
background-color: #fff;
}

.uk-sidebar-border-right {
}

.uk-sidebar-border-left {
}

@media (min-width: 768px) {

.uk-sidebar-border-right {
border-right: 1px solid #fff;
}

.uk-sidebar-border-left {
border-left: 1px solid #fff;
}

}

.widget-container ul, .widget-container ul ul {

	padding-left:0px !important;

}

.widget-container {

  color: #333;

}

.widget-container ul {
margin-top:0px;


}

.widget-container ul li {
	display: block;
	float: none;
	padding-top:2px;
        padding-bottom:2px;

}

.widget-container ul li span { padding-left:10px;}

.widget-title {
  font-size: 24px;
  padding-bottom: 10px;
  /**border-bottom: 1px solid #000000;**/
  color: #333;
  padding-top:10px;
  padding-left: 10px;
  margin-bottom:0px;
  margin:5px;
}

.widget-title span {
	display: inline-block;
	line-height: 2.2em;
	padding:0 10px;
	position: relative;
	top: 1px;
	border-bottom: 1px solid transparent;
}

.widget-container a:link,
.widget-container a:visited {

}

.widget-container li {
background: #fff;
color:#333;
}

.widget-container li:hover,
.widget-container li:focus,
.widget-container li:active {
  background: #fff;
  color: #000 !important;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
}

.widget-container li a {
	margin-left:10px;
	text-decoration:none;


}

.widget-container li a:hover,
.widget-container li a:focus {

}

.widget-container .entry-meta {
	font-size: 11px;
}



/* Footer */

.uk-panel-box li {
	list-style-type: none;
}

.uk-panel-box li:hover,
.uk-panel-box li:focus {

}

.uk-subnav > * > :hover, .uk-subnav > * > :focus {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 750px) {
    .uk-padding-footer {
        padding-right:25px;
    }

}

.uk-icon-button-small {
    height: 30px;
    width: 30px;
    line-height: 28px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 100%;
    background: #f7f7f7;
    color: #666;
    font-size: 18px;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #ccc;
    border-bottom-color: #bbb;
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: linear-gradient(to bottom,#fff,#eee);
    text-shadow: 0 1px 0 #fff;
    margin-left: 2px;
    margin-right: 2px;
}
